<div class="row">
  {{ if .Get "link" }}
    <a href="{{ .Get "link" }}">
      <div class="col-12 col-lg-12">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span> <img src="{{ .Get "icon" }}"></span>
              <div class="media-body">
                <h2 class="card-title">{{ .Get "text" }}</h2>
                <p class="card-text">{{ .Get "subtext" }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  {{ else }}
    <div>
      <div class="col-12 col-lg-12">
        <div class="card features">
          <div class="card-body">
            <div class="media">
              <span> <img src="{{ .Get "icon" }}"></span>
              <div class="media-body">
                <h2 class="card-title">{{ .Get "text" }}</h2>
                <p class="card-text">{{ .Get "subtext" }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
</div>
