
        <div>
           
              
              <a href="https://github.com/nspcc-dev/demo"><span class="ti-github  ti-2x mr-3" style="color:#ffffff;"></span></a>
              <a href="https://www.youtube.com/channel/UCAC6lR1bJFv0-O07Nol_p8w"><span class="ti-youtube  ti-2x mr-3" style="color:#ffffff"></span></a>
              <a href="https://twitter.com/neospcc"><span class="ti-twitter-alt  ti-2x mr-3" style="color:#ffffff"></span></a>

           
  </div>
  <div style="margin-top:20px;"> <a href="https://nspcc.ru/en/">Neo SPCC</a></div>

          