<title>NeoFS</title>
<meta charset='utf-8'>
<link rel="icon" href="/images/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="title" content="NeoFS">
<meta name="description" content="NeoFS: public distributed decentralized object storage">
<meta property="og:url" content="https://fs.neo.org">
<meta property="og:title" content="NeoFS">
<meta property="og:description" content="NeoFS: public distributed decentralized object storage">
<meta property="og:type" content="website">
<meta name="theme-color" content="#2b393f" />
<meta http-equiv="Content-Security-Policy" content="default-src https://www.youtube.com/; script-src 'self' https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js; connect-src 'self' https://rest.fs.neo.org https://fs.neo.org; style-src 'unsafe-inline' 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' data:; form-action 'self'; base-uri 'self';">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src='/js/main.js'></script>
