<app-header></app-header>

<div class="section" id="features">


    <div class="container">

        <div class="section-title">
            <h2>{{ 'Features.Introduction.title' | translate }} </h2>
        </div>


        <p class="mb-4" [innerHTML]="'Features.Introduction.p1' | translate">

        </p>


        <p class="mb-4">
            {{ 'Features.Introduction.p2' | translate }}
        </p>

        <p class="mb-4">
            {{ 'Features.Introduction.p3' | translate }}
        </p>
        <p class="mb-4">
            {{ 'Features.Introduction.p4' | translate }}

        </p>


        <p class="mb-4">
            {{ 'Features.Introduction.p5' | translate }}

        </p>

    </div>
</div>




<div class="section light-bg" id="features">
    <div class="container">

        <div class="section-title">
            <h2> {{ 'Features.RealWorld.title' | translate }}</h2>
        </div>
        <p class="mb-4" [innerHTML]="'Features.RealWorld.p1' | translate"></p>
    </div>
</div>



<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <h2>{{ 'Features.BasicComponent.title' | translate }}</h2>
                <p class="mb-4"> {{ 'Features.BasicComponent.p1' | translate }} </p>

                <a (click)="routeToNetwork()"
                    class="btn btn-primary">{{ 'Features.BasicComponent.read' | translate }}</a>
            </div>
        </div>
        <div class="perspective" style="padding-top:0px;">
            <img src="/assets/images/governance_1.png" alt="governance" class="img-fluid"
                style="width:80vw; max-width: 500px;">
        </div>
    </div>

</div>






<div class="section light-bg">

    <div class="container">

        <div class="section-title">
            <h2>{{ 'Features.KeyBenefits.title' | translate }}</h2>
        </div>

        <div class="row">
            <div class="col-12 align-items-center">
                <ul class="list-unstyled ui-steps">

                    <li class="media" (click)="scrollToElement(scale)">
                        <div class="circle-icon mr-2">1</div>
                        <div class="media-body">
                            <h5 style="padding:20px;">{{ 'Features.KeyBenefits.p1' | translate }}</h5>
                        </div>
                    </li>

                    <!--<a href="#chaose">-->
                    <li class="media" (click)="scrollToElement(chaose)">
                        <div class="circle-icon mr-2">2</div>
                        <div class="media-body">
                            <h5 style="padding:20px;">{{ 'Features.KeyBenefits.p2' | translate }}</h5>

                        </div>
                    </li>
                    <!--</a>-->

                    <li class="media" (click)="scrollToElement(control)">
                        <div class="circle-icon mr-2">3</div>
                        <div class="media-body">
                            <h5 style="padding:20px;">{{ 'Features.KeyBenefits.p3' | translate }}</h5>

                        </div>
                    </li>


                    <li class="media" (click)="scrollToElement(protocols)">
                        <div class="circle-icon mr-2">4</div>
                        <div class="media-body">
                            <h5 style="padding:20px;">{{ 'Features.KeyBenefits.p4' | translate }} </h5>

                        </div>
                    </li>



                    <li class="media" (click)="scrollToElement(zeroknowledge)">
                        <div class="circle-icon mr-2">5</div>
                        <div class="media-body">
                            <h5 style="padding:20px;">{{ 'Features.KeyBenefits.p5' | translate }}
                            </h5>

                        </div>
                    </li>


                    <li class="media" (click)="scrollToElement(sc)">
                        <div class="circle-icon mr-2">6</div>
                        <div class="media-body">
                            <h5 style="padding:20px;">{{ 'Features.KeyBenefits.p6' | translate }}</h5>
                        </div>
                    </li>




                    <li class="media" (click)="scrollToElement(gas)">
                        <div class="circle-icon mr-2">7</div>
                        <div class="media-body">
                            <h5 style="padding:20px;">{{ 'Features.KeyBenefits.p7' | translate }}</h5>
                        </div>
                    </li>

                    <li class="media" (click)="scrollToElement(price)">
                        <div class="circle-icon mr-2">8</div>
                        <div class="media-body">
                            <h5 style="padding:20px;">{{ 'Features.KeyBenefits.p8' | translate }}</h5>

                        </div>
                    </li>


                    <li class="media" (click)="scrollToElement(hardware)">
                        <div class="circle-icon mr-2">9</div>
                        <div class="media-body">
                            <h5 style="padding:20px;">{{ 'Features.KeyBenefits.p9' | translate }}</h5>

                        </div>
                    </li>
                </ul>
            </div>


        </div>

    </div>

</div>


<div class="section" id="scale" #scale>


    <div class="container">

        <div class="section-title">
            <h2>{{ 'Features.Scalability.title' | translate }}</h2>
        </div>
        <p class="mb-4">{{ 'Features.Scalability.p1' | translate }}. </p>

        <p class="mb-4">{{ 'Features.Scalability.p2' | translate }}
        </p>

        <p class="mb-4">
            {{ 'Features.Scalability.p3' | translate }}
        </p>




    </div>
</div>


<div class="section  light-bg" id="chaose" #chaose>


    <div class="container">

        <div class="section-title">
            <h2>{{ 'Features.ChaoticEnvironment.title' | translate }} </h2>
        </div>
        <p class="mb-4"> {{ 'Features.ChaoticEnvironment.p1' | translate }}</p>

    </div>
</div>


<div class="section" id="control" #control>


    <div class="container">
        <div class="section-title">
            <h2>{{ 'Features.Control.title' | translate }}</h2>
        </div>


        <p class="mb-4">{{ 'Features.Control.p1' | translate }}</p>

        <p class="mb-4">{{ 'Features.Control.p2' | translate }}</p>

        <p class="mb-4">{{ 'Features.Control.p3' | translate }}</p>

        <div class="row" style="padding-top:40px;">
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span> <img src="/assets/images/icon_nspcc_3.svg"></span>
                            <div class="media-body">
                                <h1 class="card-title">{{ 'Features.Control.card1.title' | translate }} </h1>
                                <p class="card-text">{{ 'Features.Control.card1.text' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span> <img src="/assets/images/icon_nspcc_2.svg"></span>
                            <div class="media-body">
                                <h1 class="card-title">{{ 'Features.Control.card2.title' | translate }}</h1>
                                <p class="card-text">{{ 'Features.Control.card2.text' | translate }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span> <img src="/assets/images/icon_nspcc_1.svg"></span>
                            <div class="media-body">
                                <h1 class="card-title">{{ 'Features.Control.card3.title' | translate }}</h1>
                                <p class="card-text">
                                    {{ 'Features.Control.card3.text' | translate }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section light-bg" id="protocols" #protocols>


    <div class="container">

        <div class="section-title">
            <h2>{{ 'Features.Integration.title' | translate }}</h2>
        </div>
        <p class="mb-4">{{ 'Features.Integration.p1' | translate }}</p>
        <p class="mb-4">{{ 'Features.Integration.p2' | translate }}</p>
        <p class="mb-4">{{ 'Features.Integration.p3' | translate }}</p>



    </div>
</div>




<div class="section" id="zeroknowledge" #zeroknowledge>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <h2>{{ 'Features.ZK.title' | translate }}</h2>
                <p class="mb-4">{{ 'Features.ZK.p1' | translate }}</p>
                <p class="mb-4">
                    {{ 'Features.ZK.p2' | translate }}</p>
                <a (click)="routeToAudit()" class="btn btn-primary">{{ 'Features.ZK.read' | translate }}</a>
            </div>
        </div>
        <div class="perspective-small" style="padding-top:40px;">
            <img src="/assets/images/audit.png" alt="audit" class="img-fluid" style="width:80vw; max-width: 500px;">
        </div>
    </div>

</div>





<div class="section light-bg" id="sc" #sc>


    <div class="container">

        <div class="section-title">
            <h2>{{ 'Features.SmartContract.title' | translate }}</h2>
        </div>
        <p class="mb-4">{{ 'Features.SmartContract.p1' | translate }}</p>

    </div>
</div>







<div class="section" id="gas" #gas>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <h2>{{ 'Features.Payment.title' | translate }}</h2>
                <p class="mb-4">{{ 'Features.Payment.p1' | translate }}</p>

                <p class="mb-4">
                    {{ 'Features.Payment.p2' | translate }}</p>
                <a (click)="routeToGas()" class="btn btn-primary">{{ 'Features.Payment.read' | translate }}</a>
            </div>
        </div>
        <div class="perspective-small" style="padding-top:40px;">
            <img src="/assets/images/gasw.png" alt="GAS" class="img-fluid" style="width:80vw; max-width: 500px;">
        </div>
    </div>

</div>








<div class="section" id="price" #price>


    <div class="container">

        <div class="section-title">
            <h2>{{ 'Features.IncentiveModel.title' | translate }}Incentive model based on market principles</h2>
        </div>
        <p class="mb-4">{{ 'Features.IncentiveModel.p1' | translate }}
        <p class="mb-4">
            {{ 'Features.IncentiveModel.p2' | translate }}</p>

        <p class="mb-4">
            {{ 'Features.IncentiveModel.p3' | translate }}
        </p>


        <div class="section-title"><img src="/assets/images/profit.png" alt="profit" class="img-fluid"
                style="width:80vw; max-width: 600px;"></div>

    </div>
</div>



<div class="section   light-bg" id="sc" #hardware>


    <div class="container">
        <div class="section-title">
            <h2>{{ 'Features.Hardware.title' | translate }}</h2>
        </div>
        <p class="mb-4"> {{ 'Features.Hardware.p1' | translate }} </p>

    </div>
</div>