<div class="section ">


  <div class="container">

    <div class="section-title">
      <h2>How to deposit NEP-5 GAS to NeoFS</h2>
    </div>

    <div class="section-title">
      <h3>Wallet</h3>
    </div>

    <p class="mb-4">
      RPC endpoint http://85.143.219.93:30333 can be used for custom wallets.
    </p>
    <p class="mb-4">
      Open <a [routerLink]="['/wallet']"> NeoFS Testnet Wallet</a>. Open existing wallet by providing private key/WIF or create new wallet and click on "Request tokens" button.
    </p>
    <p class="mb-4">
      Or use neo-python. Description about how to do this is available <a [routerLink]="['/howto/py']">here</a>. 
      It is possible to request tokens for your address <a [routerLink]="['/tokens']">here</a> in case of custom wallet.
    </p>

 

  </div>




  <div class="container upper">


    <div class="section-title">
      <h3>Deposit NEP-5 GAS to NeoFS</h3>
    </div>

    <p class="mb-4">
      Select Deposit tab in the NeoFS wallet. Enter amount of NEP-5 GAS tokens for deposit to NeoFS balance and click on "Deposit" button.

    </p>

  </div>








  <div class="container upper">


    <div class="section-title">
      <h3>Run NeoFS CLI</h3>
    </div>

    <h5>
      Get <a href="https://github.com/nspcc-dev/neofs-local" target="_blank">neofs-local repository</a>
    </h5>
    <p class="mb-4 code">

      git clone https://github.com/nspcc-dev/neofs-local.git<br>
      cd neofs-local<br>

    </p>

    <p class="mb-4">
      Volume directory is './data'. Add files to have access from docker. In the docker this dir will be available in the root
      - `/data`.
    </p>

    <h5>
      Run NeoFS CLI
    </h5>
    <p class="mb-4 code">

      make cli

    </p>



    <h5>
      Declare NeoFS endpoint for CLI
    </h5>
    <p class="mb-4">
      Can be declared your own NeoFS node or default as in example below.


    </p>
    <p class="mb-4">
      We recommend choosing either your own node or the closest one possible. <a
        [routerLink]="['/services/testnet']">Available nodes can be found here</a>.
    </p>

    <p class="mb-4 code">

      bash-5.0# neofs-cli set host 85.143.219.93:8080

    </p>


    <h5>
      Declare your private key for CLI by WIF
    </h5>
    <p class="mb-4 code">

      bash-5.0# neofs-cli set key L1b9rz58fZC6yXjg7nGAeAGM5dt8hhpScXA9stWLPVtLMWUPMc7X

    </p>

  </div>





  <div class="container upper">


    <div class="section-title">
      <h3>NeoFS CLI first steps</h3>
    </div>

    <h5>
      Check balance
    </h5>
    <p class="mb-4 code">

      bash-5.0# neofs-cli accounting balance

    </p>

    <p class="mb-4">
      If you have not sent NEP-5 tokens by `Deposit` invocation of 0x91ffdcb4e420c897bcaf8878092452a191993b89 smart
      contract - do this.
    </p>


    <h5>
      Create container
    </h5>
    <p class="mb-4 code">

      bash-5.0# neofs-cli container put --rule 'SELECT 3 Node'

    </p>



    <h5>
      Upload object to container
    </h5>
    <p class="mb-4 code">

      bash-5.0# neofs-cli object put --cid &lt;container ID&gt; --file &lt;/path/to/file&gt;


    </p>




    <h5>Create Storage group</h5>

    <p class="mb-4 code">

      bash-5.0# neofs-cli sg put --cid &lt;container ID&gt; --oid &lt;object ID&gt;

    </p>
    <p class="mb-4">
      Any number of objec IDs can be added to the storage group creation command.
    </p>



    <h5>Get object</h5>

    <p class="mb-4 code">

      bash-5.0# neofs-cli object get --cid &lt;container ID&gt; --file &lt;/path/to/out/file&gt;

    </p>


    <h5>
      Open object by HTTP gate url
    </h5>
    <p class="mb-4 code">

      https://send.fs.neo.org/&lt;container_ID&gt;/&lt;object ID&gt;

    </p>


    <p class="mb-4">
      Additional information is available in <a
        href="https://github.com/nspcc-dev/neofs-local/blob/master/neofs-local/HOWTO.md" target="_blank">github HowTo file</a>.
    </p>
  </div>


</div>