<div class="section ">


  <div class="container">

    <div class="section-title">
      <h2>How to deposit NEP-5 GAS to NeoFS</h2>
    </div>

    <div class="section-title">
      <h3>Prepare your wallet</h3>
    </div>

    <p class="mb-4">
      RPC endpoint http://85.143.219.93:30333 can be used for custom wallets.
    </p>
    <p class="mb-4">
      All the examples below will be for neo-python.
    </p>
    <p class="mb-4">
      Use pre-configured <a href="https://github.com/nspcc-dev/neo-python">neo-python</a>:
    </p>

    <p class="mb-4 code">
      git clone https://github.com/nspcc-dev/neo-python
    </p>

    <p class="mb-4">
      or get default <a href="https://github.com/CityOfZion/neo-python">neo-python</a>: and change config file
      neo/data/protocol.privnet.json <a
        href="https://github.com/nspcc-dev/neo-python/blob/master/neo/data/protocol.privnet.json">to this</a>:
    </p>
    <p class="mb-4 code">
      git clone https://github.com/CityOfZion/neo-python.git
    </p>

  </div>






  <div class="container upper">


    <div class="section-title">
      <h3>Get Neo address</h3>
    </div>

    <h5>
      Run neo-python wallet
    </h5>
    <p class="mb-4 code">

      cd neo-python<br>
      python3.7 -m venv venv<br>
      source venv/bin/activate<br>
    </p>

    <p class="mb-4">
      Run pip install for first execution
    </p>

    <p class="mb-4 code">
      pip3.7 install wheel -e .
    </p>

    <p class="mb-4 code">
      rm -rf ~/.neopython/Chains/privnet*<br>
      np-prompt -p -v<br>

    </p>
    <h5>
      Create wallet
    </h5>

    <p class="mb-4 code">

      neo> wallet create my_wallet.wallet

    </p>

    <p class="mb-4">
      Now you can find NEO address and public key in the NeoFS TestNet:
    </p>

    <p class="mb-4 code">

      neo> wallet verbose

    </p>

    <h5>
      Add NEP-5 GAS token information to the wallet
    </h5>
    <p class="mb-4 code">
      neo> wallet import token 9bcd6be0f0d2b731977640d14d7edf7a6b59ea77
    </p>

    <p class="mb-4">
      Use `wallet export wif &lt;address&gt;` to get WIF for Neo address. For example:
    </p>
    <p class="mb-4 code">
      neo> wallet export wif AUJ3GSGiKShHFnkjBuVKfmAE4xdmE4qN6a
    </p>



  </div>






  <div class="container upper">


    <div class="section-title">
      <h3>Deposit NEP-5 GAS to NeoFS</h3>
    </div>

    <p class="mb-4">
      To deposit GAS to the NeoFS smart contract need to run contract 0x91ffdcb4e420c897bcaf8878092452a191993b89 method
      `Deposit` with options: public key, GAS amount.
    </p>
    <p class="mb-4">
      For example:
    </p>
    <p class="mb-4 code">
 
      neo> sc invoke 0x91ffdcb4e420c897bcaf8878092452a191993b89 Deposit [b'03a4ae16128e052f079de2474d8c74ee9db0cf4562f2085669eb04bfb4d2a257b7', 50] 
 
    </p>

  </div>








  <div class="container upper">


    <div class="section-title">
      <h3>Run NeoFS CLI</h3>
    </div>

    <h5>
      Get <a href="https://github.com/nspcc-dev/neofs-local">neofs-local repository</a>
    </h5>
    <p class="mb-4 code">
  
    git clone https://github.com/nspcc-dev/neofs-local.git<br>
    cd neofs-local<br>
 
    </p>

    <p class="mb-4">
      Volume dir is './data'. Add files to have access from docker. In the docker this dir will be available in the root
      - `/data`.
    </p>

    <h5>
      Run NeoFS CLI
    </h5>
    <p class="mb-4 code">
   
    make cli
   
    </p>



    <h5>
      Declare NeoFS endpoint for CLI
    </h5>
    <p class="mb-4">
      Can be declared your own NeoFS node or default as in example below:
    </p>
    <p class="mb-4 code">
    
    bash-5.0# neofs-cli set host 85.143.219.93:8080
   
    </p>


    <h5>
      Declare your private key for CLI by WIF
    </h5>
    <p class="mb-4 code">
    
    bash-5.0# neofs-cli set key L1b9rz58fZC6yXjg7nGAeAGM5dt8hhpScXA9stWLPVtLMWUPMc7X
 
    </p>

  </div>





  <div class="container upper">


    <div class="section-title">
      <h3>NeoFS CLI first steps</h3>
    </div>

    <h5>
      Check balance
    </h5>
    <p class="mb-4 code">
  
      bash-5.0# neofs-cli accounting balance
   
    </p>

    <p class="mb-4">
      If you have not sent NEP-5 tokens by `Deposit` invocation of 0x91ffdcb4e420c897bcaf8878092452a191993b89 smart
      contract - do this.
    </p>


    <h5>
      Create container
    </h5>
    <p class="mb-4 code">
   
   bash-5.0# neofs-cli container put --rule 'SELECT 3 Node'
 
    </p>



    <h5>
      Upload object to container
    </h5>
    <p class="mb-4 code">
   
   bash-5.0# neofs-cli object put --cid &lt;container ID&gt; --file &lt;/path/to/file&gt;

 
    </p>




    <h5>Create Storage group</h5>

    <p class="mb-4 code">
   
   bash-5.0# neofs-cli sg put --cid &lt;container ID&gt; --oid &lt;object ID&gt;
 
    </p>
    <p class="mb-4">
      Any number of objec IDs can be added to the storage group creation command.
    </p>



    <h5>Get object</h5>

    <p class="mb-4 code">
   
   bash-5.0# neofs-cli object get --cid &lt;container ID&gt; --file &lt;/path/to/out/file&gt;
 
    </p>


    <h5>
      Open object by HTTP gate url
    </h5>
    <p class="mb-4 code">
   
  https://send.fs.neo.org/&lt;containe_ID&gt;/&lt;object ID&gt;
 
    </p>


    <p class="mb-4">
      Additional information is available in <a
        href="https://github.com/nspcc-dev/neofs-local/blob/master/neofs-local/HOWTO.md">github HowTo file</a>.
    </p>
  </div>


</div>