
<div class="section">


        <div class="container">
    
            <div class="section-title">
                <h2>NeoFS local SDK</h2>
            </div>
            <p class="mb-4">
                NeoFS local SDK, which allows deploying locally a full NeoFS network and work with it from neofs-cli, is
                granted for public access. <a href="https://github.com/nspcc-dev/neofs-local" target="_blank">Github repository</a> contains
                not only SDK but also demo video on how to deploy
                NeoFS local, Golang libraries of applied methods such as homomorphic hashing and network map and some other
                useful stuff.</p>
    
            <p class="mb-4">
                <a href="https://github.com/nspcc-dev/neofs-local/blob/master/neofs-local/HOWTO.md" target="_blank">How to start with NeoFS
                    local SDK</a></p>
            <p class="mb-4">
    
                <div class="row" style="padding-left:1rem;padding-right: 1rem;">
    
                    <div class="embed-responsive embed-responsive-16by9" style="padding:20px;">
                        <iframe class="embed-responsive-item" [src]='safeURL_v2' allowfullscreen></iframe>
    
                    </div>
                </div>
    
    
        </div>
    </div>