
<div class="section">


        <div class="container">
    
            <div class="section-title">
                <h2>{{ 'Services.SDK.title' | translate }}</h2>
            </div>
            <p class="mb-4" [innerHTML]="'Services.SDK.p1' | translate">
                </p>
    
            <p class="mb-4">
                <a href="https://github.com/nspcc-dev/neofs-local/blob/master/neofs-local/HOWTO.md" target="_blank">
                    {{ 'Services.SDK.howto-link' | translate }}
                    </a></p>
            <p class="mb-4">
    
                <div class="row" style="padding-left:1rem;padding-right: 1rem;">
    
                    <div class="embed-responsive embed-responsive-16by9" style="padding:20px;">
                        <iframe class="embed-responsive-item" [src]='safeURL_v2' allowfullscreen></iframe>
    
                    </div>
                </div>
    
    
        </div>
    </div>