<div class="section ">


    <div class="container">

        <div class="section-title">
            <h2>{{ 'HowToPython.title' | translate }}</h2>
        </div>

        <div class="section-title">
            <h3>{{ 'HowToPython.Wallet.title' | translate }}</h3>
        </div>

        <p class="mb-4">
            {{ 'HowToPython.Wallet.p1' | translate }}
            
        </p>
        <p class="mb-4">
            {{ 'HowToPython.Wallet.p2' | translate }}
            
        </p>
        <p class="mb-4" [innerHTML]="'HowToPython.Wallet.p3' | translate ">
            
        </p>

        <p class="mb-4 code">
            git clone https://github.com/nspcc-dev/neo-python
        </p>

        <p class="mb-4" [innerHTML]="'HowToPython.Wallet.p4' | translate ">
            
        </p>
        <p class="mb-4 code">
            git clone https://github.com/CityOfZion/neo-python.git
        </p>

    </div>






    <div class="container upper">


        <div class="section-title">
            <h3>{{ 'HowToPython.Address.title' | translate }}</h3>
        </div>

        <h5>
            {{ 'HowToPython.Address.p1' | translate }}
        </h5>
        <p class="mb-4 code">

            cd neo-python<br>
            python3.7 -m venv venv<br>
            source venv/bin/activate<br>
        </p>

        <p class="mb-4">
            {{ 'HowToPython.Address.p2' | translate }}
        </p>

        <p class="mb-4 code">
            pip3.7 install wheel -e .
        </p>

        <p class="mb-4 code">
            rm -rf ~/.neopython/Chains/privnet*<br>
            np-prompt -p -v<br>

        </p>
        <h5>
            {{ 'HowToPython.Address.p3' | translate }}
        </h5>

        <p class="mb-4 code">

            neo> wallet create my_wallet.wallet

        </p>

        <p class="mb-4">
            {{ 'HowToPython.Address.p4' | translate }}
        </p>

        <p class="mb-4 code">

            neo> wallet verbose

        </p>

        <h5>
            {{ 'HowToPython.Address.p5' | translate }}
        </h5>
        <p class="mb-4 code">
            neo> wallet import token 9bcd6be0f0d2b731977640d14d7edf7a6b59ea77
        </p>

        <p class="mb-4" [innerHTML]="'HowToPython.Address.p6' | translate ">
        </p>
        <p class="mb-4 code">
            neo> wallet export wif AUJ3GSGiKShHFnkjBuVKfmAE4xdmE4qN6a
        </p>

    </div>


    <div class="container upper">
        <div class="section-title">
            <h3>{{ 'HowToPython.Deposit.title' | translate }}</h3>
        </div>

        <p class="mb-4">
            {{ 'HowToPython.Deposit.p1' | translate  :{neofs_sc: this.neofs_sc} }}
            
        </p>
        <p class="mb-4  code">
            sc invoke &lt;contract script hash&gt; Deposit
            [b'&lt;public key&gt;', &lt;amount&gt;]
        </p>
        <p class="mb-4">
            {{ 'HowToPython.Deposit.p2' | translate }}
        </p>
        <p class="mb-4 code">

            neo> sc invoke 0xcdabc9be4bfbc2ca4696e6cd6da3af104f929601 Deposit
            [b'03a4ae16128e052f079de2474d8c74ee9db0cf4562f2085669eb04bfb4d2a257b7', 50]

        </p>

    </div>



</div>
 