<div class="section ">


    <div class="container">

        <div class="section-title">
            <h2>{{ 'Audit.ZeroKnowledge.title' | translate }}</h2>
        </div>
        <p class="mb-4">
            {{ 'Audit.ZeroKnowledge.p1' | translate }}</p>

        <p class="mb-4">
            {{ 'Audit.ZeroKnowledge.p2' | translate }}
            </p>

        <p class="mb-4">
            {{ 'Audit.ZeroKnowledge.p3' | translate }}
            </p>



    </div>
</div>


<div class="section  simple">


    <div class="container">

        <div class="section-title">
            <h2>{{ 'Audit.DataAudit.title' | translate }}</h2>
        </div>
        <p class="mb-4">
            {{ 'Audit.DataAudit.p1' | translate }}
            
        </p>

        <div style="padding: 40px;">
            <img src="/assets/images/audit.png" alt="audit" class="img-fluid" style="width:80vw; ">
        </div>

        <p class="mb-4">
            {{ 'Audit.DataAudit.p2' | translate }}
            
        </p>

        <p class="mb-4">
            {{ 'Audit.DataAudit.p3' | translate }}
        </p>



    </div>
</div>