<div class="section">


    <div class="container">

        <div class="section-title">
            <h2>NeoFS Public TestNet</h2>
        </div>

        <div class="section-title">
            <h3>State</h3>
        </div>

        <p class="mb-4">
            Any node can be used as NeoFS endpoint in the NeoFS CLI.</p>
        <p class="mb-4">
            We recommend choosing either your own node or the closest one possible.
        </p>




        <div class="row">
            <div class="col-12 align-items-center">
                <ul class="list-unstyled ui-steps">

                    <li class="media" (click)="scrollToElement(scale)">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">138.197.169.8:8090</h5>
                            <div style="padding-left:4px;">
                                City: Toronto<br>
                                Region: Ontario<br>
                                Country: CA / Canada<br>
                            </div>
                        </div>
                    </li>



                    <li class="media" (click)="scrollToElement(zeroknowledge)">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">

                            <h5 style="padding-top:5px;">157.245.37.172:8090</h5>
                            <div style="padding-left:4px;">
                                City: London<br>
                                Region: England<br>
                                Country: GB / United Kingdom<br>
                            </div>
                        </div>
                    </li>



                    <li class="media" (click)="scrollToElement(hardware)">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">165.22.29.184:8090</h5>
                            <div style="padding-left:4px;">
                                City: Frankfurt am Main<br>
                                Region: Hesse<br>
                                Country: DE / Germany<br>
                            </div>
                        </div>
                    </li>


                    <li class="media" (click)="scrollToElement(hardware)">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">167.71.226.0:8090</h5>
                            <div style="padding-left:4px;">
                                City: Bengaluru<br>
                                Region: Karnataka<br>
                                Country: IN / India<br>
                            </div>
                        </div>
                    </li>



                    <li class="media" (click)="scrollToElement(hardware)">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">178.128.22.46:8090</h5>
                            <div style="padding-left:4px;">
                                City Singapore<br>
                                Country SG / Singapore<br>
                            </div>
                        </div>
                    </li>




                    <li class="media" (click)="scrollToElement(hardware)">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">178.62.234.54:8090</h5>
                            <div style="padding-left:4px;">
                                City: Amsterdam<br>
                                Region: North Holland<br>
                                Country: NL / Netherlands<br>
                            </div>
                        </div>
                    </li>



                    <li class="media" (click)="scrollToElement(hardware)">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">67.205.133.241:8090</h5>
                            <div style="padding-left:4px;">
                                City: North Bergen<br>
                                Region: New Jersey<br>
                                Country: US / United States<br>
                            </div>
                        </div>
                    </li>



                    <li class="media" (click)="scrollToElement(hardware)">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">85.143.219.93:8090</h5>
                            <div style="padding-left:4px;">
                                City: St Petersburg<br>
                                Region: St.-Petersburg<br>
                                Country: RU / Russia<br>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>


        </div>






        <div class="section-title">
            <h3>Links</h3>
        </div>

        <p class="mb-4">
            <a [routerLink]="['/tokens']"> Get NEP-5 GAS tokens for public NeoFS TestNet </a>
        </p>

        <p class="mb-4">
            <a [routerLink]="['/howto']"> How to deposit NEP-5 GAS to NeoFS </a>
        </p>



    </div>
</div>