<div class="section">


    <div class="container">

        <div class="section-title">
            <h2>NeoFS Public TestNet</h2>
        </div>

        <div class="section-title">
            <h3>State</h3>
        </div>

        <p class="mb-4">
            Any node can be used as NeoFS endpoint in the NeoFS CLI.</p>
        <p class="mb-4">
            We recommend choosing either your own node or the closest one possible.
        </p>

        <div class="btn btn-primary" (click)="getNetMap()" value="check" style="margin-top:20px;">
            Refresh </div>


        <div *ngIf="!(this.netmap === undefined)">

            <div class="row">



                <!-- list:  {{node.Options}} -->

                <!-- .col-	.col-sm-	.col-md-	.col-lg-	.col-xl- *ngIf="this.spinner_nep5 == true"-->


                <div class="col-12 col-sm-12 col-md-6 col-lg-6  " style="padding-top:10px;"
                    *ngFor="let node of netmap; let i = index">
                    <div class="card features_nav">
                        <!-- features -->
                        <div class="card-body">

                            <div class="text-center">
                                   <div class="row text-center d-flex justify-content-center"> <div class="circle-icon mr-2" ></div> <h3>{{node.Address}}</h3></div>
                            </div>
                            
                            <p class="text-center" *ngFor="let opt of node.Options[0].split('/'); let z = index"> 
                                    {{opt}}
                            </p>
                            <!--  {{node.Options[0].split(" ", 3)}}
                            <p *ngFor="let opt of node.Options; let z = index">
                                {{opt}}
                                <ng-spinner class="d-flex justify-content-center" type="border"></ng-spinner>
                            </p>-->
                            <div class="d-flex justify-content-center">
                            </div>

                            

                        </div>
                    </div>
                </div>







            </div>



            <div *ngIf="this.netmap === undefined">
                netmap_pre
            </div>


        </div>





        <!-- 


        <div class="row">
            <div class="col-12 align-items-center">
                <ul class="list-unstyled ui-steps">

                    <li class="media">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">138.197.169.8:8090</h5>
                            <div style="padding-left:4px;">
                                City: Toronto<br>
                                Region: Ontario<br>
                                Country: CA / Canada<br>
                            </div>
                        </div>
                    </li>



                    <li class="media">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">

                            <h5 style="padding-top:5px;">157.245.37.172:8090</h5>
                            <div style="padding-left:4px;">
                                City: London<br>
                                Region: England<br>
                                Country: GB / United Kingdom<br>
                            </div>
                        </div>
                    </li>



                    <li class="media">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">165.22.29.184:8090</h5>
                            <div style="padding-left:4px;">
                                City: Frankfurt am Main<br>
                                Region: Hesse<br>
                                Country: DE / Germany<br>
                            </div>
                        </div>
                    </li>


                    <li class="media">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">167.71.226.0:8090</h5>
                            <div style="padding-left:4px;">
                                City: Bengaluru<br>
                                Region: Karnataka<br>
                                Country: IN / India<br>
                            </div>
                        </div>
                    </li>



                    <li class="media">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">178.128.22.46:8090</h5>
                            <div style="padding-left:4px;">
                                City Singapore<br>
                                Country SG / Singapore<br>
                            </div>
                        </div>
                    </li>




                    <li class="media">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">178.62.234.54:8090</h5>
                            <div style="padding-left:4px;">
                                City: Amsterdam<br>
                                Region: North Holland<br>
                                Country: NL / Netherlands<br>
                            </div>
                        </div>
                    </li>



                    <li class="media">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">67.205.133.241:8090</h5>
                            <div style="padding-left:4px;">
                                City: North Bergen<br>
                                Region: New Jersey<br>
                                Country: US / United States<br>
                            </div>
                        </div>
                    </li>



                    <li class="media">
                        <div class="circle-icon mr-2"></div>
                        <div class="media-body">
                            <h5 style="padding-top:5px;">85.143.219.93:8090</h5>
                            <div style="padding-left:4px;">
                                City: St Petersburg<br>
                                Region: St.-Petersburg<br>
                                Country: RU / Russia<br>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>


        </div>

-->




        <div class="section-title">
            <h3>Links</h3>
        </div>

        <p class="mb-4">
            <a [routerLink]="['/tokens']"> Get NEP-5 GAS tokens for public NeoFS TestNet </a>
        </p>

        <p class="mb-4">
            <a [routerLink]="['/howto']"> How to deposit NEP-5 GAS to NeoFS </a>
        </p>



    </div>
</div>