<div class="section">

    <div class="container">

        <div class="section-title">
            <h2>{{ 'Presentation.Video.title' | translate }}</h2>
        </div>


        <div class="section-title">
            <a id="consensus"></a>
            <h3>Consensus 2020 - NeoFS: Decentralized Storage for A Real Economy</h3>
        </div>

        <div class="row" style="padding-left:1rem;padding-right: 1rem;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" [src]='safeURL_consensus' allowfullscreen></iframe>

            </div>
        </div>
    </div>


</div>

<div class="section">
    <div class="container">

        <div class="section-title">
            <a id="webinar"></a>
            <h3>NeoFS Webinar: Architecture of decentralized object storage</h3>
        </div>

        <div class="row" style="padding-left:1rem;padding-right: 1rem;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" [src]='safeURL' allowfullscreen></iframe>

            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">

        <div class="section-title">
            <a id="ep1"></a>
            <h3>NeoFS Introduction - Episode 1: System Overview - 2019</h3>
        </div>

        <div class="row" style="padding-left:1rem;padding-right: 1rem;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" [src]='safeURL_ep1' allowfullscreen></iframe>

            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">

        <div class="section-title">
            <a id="ep2"></a>
            <h3>NeoFS Introduction - Episode 2: Payments - 2019</h3>
        </div>

        <div class="row" style="padding-left:1rem;padding-right: 1rem;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" [src]='safeURL_ep2' allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">

        <div class="section-title">
            <a id="ep3"></a>
            <h3>NeoFS Introduction - Episode 3: Placement, Migration, and Replication</h3>
        </div>

        <div class="row" style="padding-left:1rem;padding-right: 1rem;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" [src]='safeURL_ep3' allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">

        <div class="section-title">
            <a id="ep4"></a>
            <h3>NeoFS Introduction - Episode 4: Data Audit</h3>
        </div>

        <div class="row" style="padding-left:1rem;padding-right: 1rem;">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" [src]='safeURL_ep4' allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>