<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}

<body>
    <div id="page-container">
        <div id="content-wrap">
            {{- partial "header.html" . -}}
            <main>
              <div class="section">
                <div class="container">
                  <h2 class="section-title">ERROR 404</h2>
                  <center>Page not found</center>
                </div>
              </div>
            </main>
        </div>
        {{- partial "footer.html" . -}}
    </div>
</body>

</html>
