<div class="section">


        <div class="container">
    
            <div class="section-title">
                <h2>HTTP-Gate demo: <a href="{{this.neofs_send_url}}" target="_blank">Send.NeoFS</a> web service allowing users to easily
                    upload files to the NeoFS TestNet</h2>
            </div>
            <p class="mb-4">Objects stored on the NeoFS TestNet are distributed across multiple geographically decentralized
                nodes. Storage nodes are currently located in St Petersburg, New York, Singapore, Amsterdam, London,
                Bangalore, Toronto, and Frankfurt. At the time of press, files may be uploaded on Send.NeoFS with a
                user-specified lifetime of 15 minutes, 1 hour, 24 hours, or 48 hours. File uploads are free during the
                testing phases, with a file size limit of 50Mb.</p>
    
    
    
    
        </div>
    </div>
    