<div class="section ">


    <div class="container">

        <div class="section-title">
            <h2>{{ 'Services.Services.title' | translate }}</h2>
        </div>

<!-- 
        <div class="row" style="padding-top:0px; cursor: pointer;">
            <div class="col-12 col-lg-12" [routerLink]="['/services/testnet']" style=" cursor: pointer;">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span> <img src="/assets/images/icon_nspcc_5.svg"></span>
                            <div class="media-body">
                                <h2 class="card-title">{{ 'Services.Services.TestNet.title' | translate }}</h2>
                                <p class="card-text">{{ 'Services.Services.TestNet.desc' | translate }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

       

<!-- 
        <div class="row" style="padding-top:40px; cursor: pointer;">
            <div class="col-12 col-lg-12" [routerLink]="['/tokens']">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span> <img src="/assets/images/icon_nspcc_7_1.svg"></span>
                            <div class="media-body">
                                <h2 class="card-title">{{ 'Services.Services.RequestGas.title' | translate }}</h2>
                                <p class="card-text">{{ 'Services.Services.RequestGas.desc' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->



<!--
        <div class="row" style="padding-top:40px; cursor: pointer;">
            <div class="col-12 col-lg-12" [routerLink]="['/wallet']">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span> <img src="/assets/images/icon_nspcc_7_1.svg"></span>
                            <div class="media-body">
                                <h2 class="card-title">{{ 'Services.Services.Wallet.title' | translate }}</h2>
                                <p class="card-text">{{ 'Services.Services.Wallet.desc' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->



        <div class="row" style="padding-top:40px; ">

            <div class="col-12 col-lg-12" [routerLink]="['/services/sendneofs']" style=" cursor: pointer;">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span> <img src="/assets/images/icon_nspcc_6_1.svg"></span>
                            <div class="media-body">
                                <h2 class="card-title">{{ 'Services.Services.SendFS.title' | translate }} </h2>
                                <p class="card-text">{{ 'Services.Services.SendFS.desc' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row" style="padding-top:40px; ">
            <div class="col-12 col-lg-12" style=" cursor: pointer;">
                <a href="https://status.fs.neo.org/d/NEOFS/neofs?orgId=1&kiosk&autofitpanels&refresh=5s" target="_blank"
                    style="text-decoration: none;">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span> <img src="/assets/images/icon_nspcc_8.svg"></span>
                                <div class="media-body">
                                    <h2 class="card-title">{{ 'Services.Services.Status.title' | translate }}</h2>
                                    <p class="card-text">{{ 'Services.Services.Status.desc' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        
<!-- 
        <div class="row" style="padding-top:40px; ">
            <div class="col-12 col-lg-12" [routerLink]="['/services/sdk']" style=" cursor: pointer;">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span> <img src="/assets/images/icon_nspcc_4.svg"></span>
                            <div class="media-body">
                                <h2 class="card-title">{{ 'Services.Services.SDK.title' | translate }}</h2>
                                <p class="card-text">{{ 'Services.Services.SDK.desc' | translate }}

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row" style="padding-top:40px; ">
            <div class="col-12 col-lg-12" style=" cursor: pointer;">
                <a href="https://status.fs.neo.org/d/14rTizJZk/neo-go?orgId=1&refresh=5s&kiosk&autofitpanels" target="_blank"
                    style="text-decoration: none;">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span> <img src="/assets/images/icon_nspcc_8.svg"></span>
                                <div class="media-body">
                                    <h2 class="card-title">{{ 'Services.Services.NeoGO.title' | translate }}</h2>
                                    <p class="card-text">{{ 'Services.Services.NeoGO.desc' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>



