<div class="section ">


    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
        </div>


        <div class="row" style="padding-top:0px; cursor: pointer;">
            <div class="col-12 col-lg-12" [routerLink]="['/services/testnet']" style=" cursor: pointer;">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span> <img src="/assets/images/icon_nspcc_5.svg"></span>
                            <div class="media-body">
                                <h2 class="card-title">NeoFS Public TestNet</h2>
                                <p class="card-text">NeoFS Public TestNet release allows developers in the NEO ecosystem
                                    to experiment with NeoFS and test potential applications that can make use of
                                    decentralized storage facilities. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="padding-top:40px; cursor: pointer;">
            <div class="col-12 col-lg-12" [routerLink]="['/wallet']">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span> <img src="/assets/images/icon_nspcc_7_1.svg"></span>
                            <div class="media-body">
                                <h2 class="card-title">Simple Wallet for NeoFS Public TestNet</h2>
                                <p class="card-text">Wallet for NeoFS Public TestNet with NeoFS smart contract deposit
                                    operation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style="padding-top:40px; ">

            <div class="col-12 col-lg-12" [routerLink]="['/services/sendneofs']" style=" cursor: pointer;">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span> <img src="/assets/images/icon_nspcc_6_1.svg"></span>
                            <div class="media-body">
                                <h2 class="card-title">Send.NeoFS </h2>
                                <p class="card-text">This is a simple example of integration with NeoFS network via HTTP
                                    protocol. It allows storing files in decentralized network for the selected period
                                    of time and share them via generated link.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row" style="padding-top:40px; ">

            <div class="col-12 col-lg-12" style=" cursor: pointer;">
                <a href="https://status.fs.neo.org/d/NEOFS/neofs?orgId=1&kiosk&autofitpanels&refresh=5s" target="_blank"
                    style="text-decoration: none;">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span> <img src="/assets/images/icon_nspcc_8.svg"></span>
                                <div class="media-body">
                                    <h2 class="card-title">Send.NeoFS Status</h2>
                                    <p class="card-text">Grafana dashboard with real-time data on Send.NeoFS status.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="row" style="padding-top:40px; ">
            <div class="col-12 col-lg-12" [routerLink]="['/services/sdk']" style=" cursor: pointer;">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span> <img src="/assets/images/icon_nspcc_4.svg"></span>
                            <div class="media-body">
                                <h2 class="card-title">NeoFS SDK</h2>
                                <p class="card-text">It allows developers to deploy their own local NeoFS networks,
                                    where they may begin testing the solution and integrating support for it into their
                                    own applications.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>



<div class="section simple">


    <div class="container">

        <div class="section-title">
            <h2>Video Presentation</h2>
        </div>



        <div class="row" style="padding-left:1rem;padding-right: 1rem;">
            <!-- <div class="col col-lg-7 col-md-7 col-sm-12 col-xs-12">-->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" [src]='safeURL' allowfullscreen></iframe>

            </div>
        </div>



    </div>
</div>