<div class="section ">


    <div class="container">

        <div class="section-title">
            <h2>Video Presentation</h2>
        </div>
                        <div class="section-title"><div style="padding-top:40px;" >
                        <iframe width="560" height="315" [src]='safeURL' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div></div>


    </div>
</div>

<div class="section simple">


    <div class="container">

        <div class="section-title">
            <h2>HTTP-Gate demo: <a href="https://send.fs.neo.org">Send.NeoFS</a> web service, allowing users to easily upload files to the NeoFS TestNet</h2>
        </div>
        <p class="mb-4">Objects stored on the NeoFS TestNet are distributed across multiple geographically decentralized
            nodes. Storage nodes are currently located in St Petersburg, New York, Singapore, Frankfurt, London,
            Bangalore, Toronto, and Frankfurt.

            At the time of press, files may be uploaded on Send.NeoFS with a user-specified lifetime of 15 minutes, 1
            hour, 24 hours, or 48 hours. File uploads are free during the testing phases, with a file size limit of
            50Mb.</p>




    </div>
</div>