<div class="section">


    <div class="container">

        <div class="section-title">
            <h2>Network</h2>
        </div>
        <p class="mb-4">Representing NEO’s commitment to building the future, NeoFS offers unparalleled data storage
            control to users and developers by
            bringing together the benefits of decentralization and real-world integration.</p>

        <p class="mb-4">
            NeoFS network nodes run the same software and talk the same protocol, but may
            have different roles. There are nodes that store data and process user API
            requests, the regular storage nodes, they form the Outer Ring. Also there are
            nodes that take care of network health and perform service tasks like data
            audit and payments settlements. Such nodes form the InnerRing. There are not
            many of them and they use dBFT 2.0 consensus algorithm to coordinate their
            actions.</p>

        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/governance.png" alt="governance" class="img-fluid"
                    style="padding-bottom:20px;">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>

                    <p class="mb-4">
                        InnerRing nodes are connected to Neo Blockchain and are constantly monitoring
                        events coming from it to synchronize their state and the state of NeoFS
                        SmartContract that manages users' money deposits and Information about
                        InnerRing nodes themselves.</p>

                    <p class="mb-4">
                        Because InnerRing is a critical infrastructure part, not every node may get
                        this role. The node willing to become the InnerRing node must be registers in
                        NeoFS Smart contract in NeoBlockchain and pay some security deposit, that
                        will be lost in case node start to behave badly.</p>

                    <p class="mb-4">
                        Also, in the same way as Neo consensus nodes, NeoFS Inner ring nodes try to
                        be achieve maximal possible geographical, political and network
                        decentralization.</p>
                </div>
            </div>





        </div>

        <p class="mb-4">
            The main use case for NeoFS is DApps's data storage and content distribution.
            Right now most DApps don't store their assets in a decentralized fashion,
            which makes them not really distributed applications. With NeoFS DApps can
            upload content to NeoFS and distribute it to clients via protocol gates using
            standard HTTPS protocol or, for example, using NeoFS API from mobile
            application.</p>

        <p class="mb-4">
            Also DApps can access NeoFS directly from SmartContract code. For example
            DApp's smart contract can generate some data, like hilarious cat picture, and
            put it into NeoFS, rather then storing it in blockchain. Storing data
            off-chain would be significantly cheaper and easier to deliver to client.
        </p>







    </div>
</div>


<div class="section  simple">


    <div class="container">
        <div class="section-title">
            <h2>Network Map</h2>
        </div>



        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/container.png" alt="container" class="img-fluid" style="padding-bottom:20px;">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>

                    <p class="mb-4">
                        As we mentioned before, InnerRing nodes monitor state of NeoFS storage nodes.
                        Using this information they maintain up-to-date Network Map. It's a
                        multi-dimensional graph where nodes have attributes and are grouped by those
                        attributes and their values. This allows us to use a special data placement
                        function to find nodes that would store an object when we want to put it into
                        NeoFS network or to get it.</p>


                </div>
            </div>



        </div>


        <p class="mb-4">
            This approach allows us not to have any centralized meta-data storage having
            object's locations and not to re-balance data with every joining or leaving
            storage node, like it happens in DHT-based systems.</p>




    </div>
</div>



<div class="section  simple">

    <div class="container">

        <div class="section-title">
            <h2>Work reliably in chaotic environment</h2>
        </div>



        <p class="mb-4"> Like files in file system are organized in directories, objects in NeoFS are
            organized in containers.</p>




        <p class="mb-4">
            Each container is served by a subset of storage nodes that satisfy storage
            policy defined for this particular container by the user. To calculate that
            nodes subset, we apply storage policy filters to a Network maps. The
            resulting set of nodes will be responsible for making sure that storage policy
            is satisfied and data is not corrupted. If they do it, they will share users'
            payment for data storage. One storage node may server many containers, so if
            it behaves correctly, small shares from each container will summ-up in a
            significant reward. The same is true for the losses in case of container nodes'
            misbehavior. This motivates nodes to keep and eye on other container members
            and properly perform all required replication, migration and data recovery
            processes.</p>

        <p class="mb-4">
            The other non-obvious benefit of this approach is that the bigger the NeoFS
            network grows, the more stable it becomes, because the chance of network
            changed would affect the particular container are decreasing with the
            increasing number of nodes in the network. It means, unlike in DHT approach,
            the amount of data migration we need to do decreases with network growth.</p>

    </div>
</div>




<div class="section  simple">

    <div class="container">

        <div class="section-title">
            <h2>Protocol Gates</h2>
        </div>

        <p class="mb-4">
            To interact with existing systems using standard protocols, NeoFS has
            protocol gates. Gates are mainly maintained by users and are not part of
            NeoFS network. From the start we provide HTTP protocol gate, that will allow
            access data from NeoFS using regular browser. Later we plan to release AWS S3
            and OpenStack Object Storage gates to allow more sophisticated integrations.
            Technically one may easily develop own gate by using NeoFS protocol libraries.</p>

    </div>
</div>