<div class="section">


    <div class="container">

        <div class="section-title">
            <h2>{{ 'Network.Network.title' | translate }}</h2>
        </div>

        <p class="mb-4">
            {{ 'Network.Network.p1' | translate }}
            </p>

        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/governance_1.png" alt="governance" class="img-fluid"
                    style="padding-bottom:20px;">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>

                    <p class="mb-4">
                        {{ 'Network.Network.p2' | translate }}
                        </p>

                    <p class="mb-4">
                        {{ 'Network.Network.p3' | translate }}
                        </p>

                    <p class="mb-4">
                        {{ 'Network.Network.p4' | translate }}
                        </p>
                </div>
            </div>





        </div>

        <p class="mb-4">
            {{ 'Network.Network.p5' | translate }}
            </p>

        <p class="mb-4">
            {{ 'Network.Network.p6' | translate }}
        </p>







    </div>
</div>


<div class="section  simple">


    <div class="container">
        <div class="section-title">
            <h2>{{ 'Network.NetworkMap.title' | translate }}</h2>
        </div>



        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/container.png" alt="container" class="img-fluid" style="padding-bottom:20px;">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>

                    <p class="mb-4">
                        {{ 'Network.NetworkMap.p1' | translate }}
                        </p>


                </div>
            </div>
        </div>


        <p class="mb-4">
            {{ 'Network.NetworkMap.p2' | translate }}
            </p>

    </div>
</div>



<div class="section  simple">

    <div class="container">

        <div class="section-title">
            <h2>
                {{ 'Network.Environment.title' | translate }}
            </h2>
        </div>

        <p class="mb-4"> 
            {{ 'Network.Environment.p1' | translate }}
        </p>

        <p class="mb-4">
            {{ 'Network.Environment.p2' | translate }}
        </p>

        <p class="mb-4">
            {{ 'Network.Environment.p3' | translate }}
            </p>

    </div>
</div>


<!-- -->

<div class="section  simple">


    <div class="container">
        <div class="section-title">
            <h2>{{ 'Network.Blockchain.title' | translate }} </h2>
        </div>



        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/contracts.png" alt="contracts" class="img-fluid" style="padding-bottom:20px;">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>

                    <p class="mb-4">
                        {{ 'Network.Blockchain.p1' | translate }}
                        
                    </p>

                    <p class="mb-4">
                        {{ 'Network.Blockchain.p2' | translate }}
                                    </p>
                    <p class="mb-4">
                        {{ 'Network.Blockchain.p3' | translate }}
                    
                </p>

                <p class="mb-4">
                    {{ 'Network.Blockchain.p4' | translate }}
                    
                </p>
                
                </div>
            </div>
        </div>


        
            <p class="mb-4">
                {{ 'Network.Blockchain.p5' | translate }}
            
        </p>
            <p class="mb-4">
                {{ 'Network.Blockchain.p6' | translate }}
                    </p>
            <p class="mb-4">
                {{ 'Network.Blockchain.p7' | translate }}
            
        </p>
            <p class="mb-4">
                {{ 'Network.Blockchain.p8' | translate }}
            
            </p>
            <p class="mb-4">
                {{ 'Network.Blockchain.p9' | translate }}
            
            </p>



    </div>
</div>

<!-- -->

<div class="section  simple">

    <div class="container">

        <div class="section-title">
            <h2>{{ 'Network.ProtocolGates.title' | translate }}</h2>
        </div>

        <p class="mb-4">
            {{ 'Network.ProtocolGates.p1' | translate }}
        </p>

    </div>
</div>