<div class="section">


    <div class="container">

        <div class="section-title">
            <h2>{{ 'Network.Network.title' | translate }}</h2>
        </div>

        <p class="mb-4">
            {{ 'Network.Network.p1' | translate }}
            </p>

        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/governance_1.png" alt="governance" class="img-fluid"
                    style="padding-bottom:20px;">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>

                    <p class="mb-4">
                        {{ 'Network.Network.p2' | translate }}
                        </p>

                    <p class="mb-4">
                        {{ 'Network.Network.p3' | translate }}
                        </p>

                    <p class="mb-4">
                        {{ 'Network.Network.p4' | translate }}
                        </p>
                </div>
            </div>





        </div>

        <p class="mb-4">
            {{ 'Network.Network.p5' | translate }}
            </p>

        <p class="mb-4">
            {{ 'Network.Network.p6' | translate }}
        </p>







    </div>
</div>


<div class="section  simple">


    <div class="container">
        <div class="section-title">
            <h2>{{ 'Network.NetworkMap.title' | translate }}</h2>
        </div>



        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/container.png" alt="container" class="img-fluid" style="padding-bottom:20px;">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>

                    <p class="mb-4">
                        {{ 'Network.NetworkMap.p1' | translate }}
                        </p>


                </div>
            </div>
        </div>


        <p class="mb-4">
            {{ 'Network.NetworkMap.p2' | translate }}
            </p>

    </div>
</div>



<div class="section  simple">

    <div class="container">

        <div class="section-title">
            <h2>
                {{ 'Network.Environment.title' | translate }}
            </h2>
        </div>

        <p class="mb-4"> 
            {{ 'Network.Environment.p1' | translate }}
        </p>

        <p class="mb-4">
            {{ 'Network.Environment.p2' | translate }}
        </p>

        <p class="mb-4">
            {{ 'Network.Environment.p3' | translate }}
            </p>

    </div>
</div>


<!-- -->

<div class="section  simple">


    <div class="container">
        <div class="section-title">
            <h2>NeoFS Blockchain Components </h2>
        </div>



        <div class="row">
            <div class="col-md-6">
                <img src="/assets/images/contracts.png" alt="contracts" class="img-fluid" style="padding-bottom:20px;">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>

                    <p class="mb-4">
                        The main smart contracts that provide the input and output of GAS tokens to the NeoFS account and the list of nodes of Inner Ring, are on the Neo Mainnet. NeoFS internal banking and data audit results are on the sidechain. This allows not to load a large number of NeoFS internal transactions to the Neo blockchain network. This approach also allows us to achieve complete anonymity of the Inner Ring nodes and not to disclose them to other network nodes.
                    </p>

                    <p class="mb-4">
                    The main NeoFS network contract is deployed in the Neo main network. The roles of this contract are to maintain the list of the Inner Ring nodes, maintain the list of nodes-candidates for Inner Ring, accept Neo GAS input assets from users, and withdraw Neo GAS to users.
                </p>
                    <p class="mb-4">
                    Service contracts of the NeoFS network such as Network Map contract, Container contract, Balance contract, Data Audit contract, and Reputation contract are on the NeoFS Neo sidechain.
                </p>

                <p class="mb-4">
                    The Network Map contract is the main NeoFS network contract in the NeoFS Neo sidechain. The roles of this contract are to provide to the sidechain contracts a list of the Inner Ring nodes, which is initially stored in the Neo main network blockchain in the NeoFS contract, to manage the list of Storage nodes, maintain the Network Map, to take snapshots of Network Map when a new epoch sets, and store the epoch counter, providing an interface for changing the epoch to the Inner Ring nodes. Epoch is a real-time period during which a permanent Network Map exists.
                </p>
                
                </div>
            </div>
        </div>


        
            <p class="mb-4">
            The Container contact is deployed in the NeoFS Neo sidechain. The roles of this contract are to maintain a list of containers and provide such operations as to get a specific container by its identifier, to get a list of all user containers, and to get a list of all containers.
        </p>
            <p class="mb-4">
            The Balance contact, being in the NeoFS Neo sidechain, provides the internal NeoFS banking performing a large number of fast microtransactions based on the results of the NeoFS network.
        </p>
            <p class="mb-4">
            The Reputation contract’s role is maintaining reputation ratings of Storage nodes. This contract is also deployed in the NeoFS Neo sidechain to process a lot of invocations to process the view of Storage nodes' trust.
        </p>
            <p class="mb-4">
            Neo main network chain and NeoFS Neo sidechain do not interact directly. The bridge between the two chains is Inner Ring which subscribes to events from both chains. The Inner Ring nodes are responsible for servicing the Neofs network, monitoring Storage nodes, and data integrity of the storage network.
            </p>
            <p class="mb-4">
            The Inner Ring nodes are connected to Neo Blockchain. They are constantly monitoring events coming from the blockchain to synchronize their state, the state of the NeoFS smart contract that manages users' GAS deposits and information about the Inner Ring nodes themselves, and NeoFS Neo sidechain smart contracts. 
            </p>



    </div>
</div>

<!-- -->

<div class="section  simple">

    <div class="container">

        <div class="section-title">
            <h2>{{ 'Network.ProtocolGates.title' | translate }}</h2>
        </div>

        <p class="mb-4">
            {{ 'Network.ProtocolGates.p1' | translate }}
        </p>

    </div>
</div>