<div class="section ">


    <div class="container">

        <div class="section-title">
            <h2>Simple NeoFS Testnet Wallet</h2>
        </div>

    </div>
</div>

<!-- WALLET -->

<div class="section simple" *ngIf="this.walletservice.getWallet()">
    <div class="container">

        <div class="nav-menu features features_nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-dark navbar-expand-lg" style="padding-left:0px;">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbar()"
                                data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                                aria-label="Toggle navigation"> <span class="navbar-toggler-icon"
                                    style="filter: invert(1)"></span> </button>
                            <div class="collapse navbar-collapse " [ngClass]="{ 'show': navbarOpen }">


                                <ul class="navbar-nav">


                                    <li class="nav-item"> <a class="nav-link"
                                            (click)="SetNavWallet('wallet')">Wallet</a>
                                    </li>
                                    <!--
                                    <li class="nav-item"> <a class="nav-link"
                                            (click)="SetNavWallet('deposit')">Deposit</a>
                                    </li>
                                    
                                    <li class="nav-item"> <a class="nav-link"
                                            (click)="SetNavWallet('withdraw')">Withdraw</a>
                                    </li> -->

                                </ul>

                                <ul class="navbar-nav ml-auto">


                                    <li class="nav-item"> <a class="nav-link" (click)="CloseWallet()">Close</a> </li>


                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>








<!-- WALLET PAGE - BALANCE BLOCK-->

<div class="section simple" *ngIf="this.walletservice.getWallet() && ( this.nav == 'wallet' || this.nav == 'deposit')">
    <div class="container">
        <div style="padding-top:0px;">

            <!-- .col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->

            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4  " style="padding-top:10px;">
                    <div class="card features_nav">
                        <!-- features -->
                        <div class="card-body">

                            <div class="text-center">NEP-5 GAS</div>



                            <div class="d-flex justify-content-center" *ngIf="this.spinner_nep5 == true">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>


                            <div *ngIf="this.spinner_nep5 == false">
                                <h2 class="text-center"> {{this.walletservice.getBalance().nep5 }}</h2>


                            </div>



                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4" style="padding-top:10px;">
                    <div class="card features_nav">
                        <!-- features -->
                        <div class="card-body">

                            <div class="text-center">GAS</div>


                            <div class="d-flex justify-content-center" *ngIf="this.spinner_gas == true">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>

                            <div *ngIf="this.spinner_gas == false">

                                <h2 class="text-center"> {{this.walletservice.getBalance().gas }} </h2>

                            </div>



                        </div>
                    </div>
                </div>



                <div class="col-12 col-sm-12 col-md-4 col-lg-4" style="padding-top:10px;">
                    <div class="card features_nav">
                        <div class="card-body">


                            <div class="text-center"> NeoFS Balance</div>


                            <div class="d-flex justify-content-center" *ngIf="this.spinner_neofs == true">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>


                            <div>
                                <h2 class="text-center" *ngIf="this.spinner_neofs == false">
                                    {{this.walletservice.getNeoFSBalance()}}</h2>
                            </div>



                        </div>
                    </div>
                </div>
            </div>


            <div *ngIf="this.walletservice.getBalance()">
                <div class="btn btn-primary" (click)="WalletBalanceRefresh()" value="check" style="margin-top:20px;">
                    Refresh </div>

                <!--    -->

                <div class="btn btn-primary "
                    [class]="this.walletservice.getBalance().gas == 0 ? 'btn btn-primary active': 'btn btn-primary disabled'"
                    (click)="WalletRequestTokens()" value="check" style="margin-left:20px; margin-top:20px;">
                    Request tokens to wallet</div>

                <div class="btn btn-primary "
                    [class]="this.walletservice.getNeoFSBalance() == 0 ? 'btn btn-primary active': 'btn btn-primary disabled'"
                    (click)="WalletRequestNeoFS()" value="check" style="margin-left:20px; margin-top:20px;">
                    Request tokens to NeoFS account 
                </div>



            </div>

                

        </div>

    </div>
</div>




<!-- exp -->
 
<div class="section zero_half" *ngIf="this.show_awaiting_msg">
    <div class="container" *ngIf="this.show_awaiting_msg"> 
        <div  class="text-center">
            Processing of the transactions: please, be patient until they will be added to block.
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ... -->



<div class="section zero" >
    <div class="container" *ngIf="show">
        <hr >
        <div>
        <ngb-toast   *ngIf="show" header="{{this.header}}" [delay]="7000" [autohide]="autohide"
            (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="show = false; autohide = true"
            >
    
            <div class="alert alert-{{this.alert_type}}">
                {{this.message}}
            </div>

        </ngb-toast>

    </div>

    </div>

 
    <div class="container" *ngIf="this.tokens.show">
        <hr>
        <div>
            <ngb-toast *ngIf="this.tokens.show" header="{{this.tokens.header}}" [delay]="7000" [autohide]="this.tokens.autohide"
                (hide)="this.tokens.show = false; this.tokens.autohide = true">
                <div class="alert alert-{{this.tokens.alert_type}}">
                    {{this.tokens.message}}
                </div>
            </ngb-toast>
        </div>
    </div>

    <div class="container" *ngIf="this.tokens.show_p">
        <hr>
        <div>
            <!-- (mouseenter)="autohide = false" (mouseleave)="autohide = true"  -->
            <ngb-toast *ngIf="this.tokens.show_p" header="{{this.tokens.header_p}}" [delay]="7000" [autohide]="this.tokens.autohide_p"
                (hide)="this.tokens.show_p = false; this.tokens.autohide_p = true">
                <div class="alert alert-{{this.tokens.alert_type_p}}">
                    {{this.tokens.message_p}}
                </div>
            </ngb-toast>
        </div>
    </div>



    <div class="container" *ngIf="this.tokens.show_sec">
        <hr>
        <div>
            <ngb-toast *ngIf="this.tokens.show_sec" header="{{this.tokens.header_sec}}" [delay]="7000" [autohide]="this.tokens.autohide_sec"
                (hide)="this.tokens.show_sec = false; this.tokens.autohide_sec = true">
                <div class="alert alert-{{this.tokens.alert_type_sec}}">
                    {{this.tokens.message_sec}}
                </div>
            </ngb-toast>
        </div>
    </div>

    <div class="container" *ngIf="this.tokens.show_sec_p">
        <hr>
        <div>
            <ngb-toast *ngIf="this.tokens.show_sec_p" header="{{this.tokens.header_sec_p}}" [delay]="7000" [autohide]="this.tokens.autohide_sec_p"
                (hide)="this.tokens.show_sec_p = false; this.tokens.autohide_sec_p = true">
                <div class="alert alert-{{this.tokens.alert_type_sec_p}}">
                    {{this.tokens.message_sec_p}}
                </div>
            </ngb-toast>
        </div>
    </div>
    </div>


    <!-- WALLET PAGE - DEPOSIT-->

    <div class="section simple" *ngIf="this.walletservice.getWallet() && this.nav == 'deposit'">
        <div class="container">
            <div class="row" style="padding-top:0px;">
                <div class="col-12 col-lg-12">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">

                                <div class="media-body">


                                    <h2>Deposit</h2>


                                    <form #dep="ngForm" (ngSubmit)="DepositWallet(dep.value)">
                                        <div class="form-group">
                                            <label for="u_dep">Enter your NEP-5 GAS tokens amount for deposit to NeoFS
                                                balance:</label>
                                            <input class="form-control" type="text" name="u_dep"
                                                placeholder="Amount for deposit" ngModel id="u_dep">
                                            <br />
                                            <input class="btn btn-primary" type="submit" value="Deposit">

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>





    <!-- WALLET PAGE - WALLET -->
    <div class="section simple" *ngIf="this.walletservice.getWallet() && this.nav == 'wallet'">
        <div class="container">
            <div class="row" style="padding-top:0px;">
                <div class="col-12 col-lg-12">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">

                                <div class="media-body">



                                    <h2>Wallet info</h2>
                                    <p class="mb-4">
                                        Address: {{this.walletservice.getWallet().label}}
                                    </p>

                                    <p class="mb-4">
                                        WIF: {{this.walletservice.getWallet().WIF}}
                                    </p>
                                    <p class="mb-4">
                                        Private key: {{this.walletservice.getWallet().privateKey}}
                                    </p>
                                    <p class="mb-4">
                                        Public key: {{this.walletservice.getWallet().publicKey}}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>




    <!-- LOGIN -->
    <div class="section simple" *ngIf="!this.walletservice.getWallet()">
        <div class="container">
            <div class="row" style="padding-top:0px;">
                <div class="col-12 col-lg-12">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">

                                <div class="media-body">


                                    <form #login="ngForm" (ngSubmit)="OpenWallet(login.value)">
                                        <div class="form-group">
                                            <label for="u_wif">Enter your NeoFS Testnet Neo Address WIF or private
                                                key:</label>
                                            <input class="form-control" type="text" name="u_wif" placeholder="WIF"
                                                ngModel id="u_wif">
                                            <br />
                                            <input class="btn btn-primary" type="submit" value="Login">
                                            <div class="btn btn-primary" (click)="GenerateWallet()" value="check"
                                                style="margin-left:20px;">Generate New Wallet</div>
                                        </div>
                                    </form>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>