<div class="section ">


    <div class="container">

        <div class="section-title">
            <h2>{{ 'Data.Storage.title' | translate }}</h2>
        </div>


        <p class="mb-4">
            {{ 'Data.Storage.p1' | translate }}
        </p>
        <p class="mb-4">
            {{ 'Data.Storage.p2' | translate }}

        </p>
        <p class="mb-4">
            {{ 'Data.Storage.p3' | translate }}
        </p>
        <p class="mb-4">
            {{ 'Data.Storage.p4' | translate }}

        </p>
        <p class="mb-4">
            {{ 'Data.Storage.p5' | translate }}
        </p>
        <p class="mb-4">
            {{ 'Data.Storage.p6' | translate }}
        </p>
        <p class="mb-4">
            {{ 'Data.Storage.p7' | translate }}
        </p>
        <p class="mb-4" [innerHTML]="'Data.Storage.p8' | translate ">

        </p>
        <p class="mb-4">
            {{ 'Data.Storage.p9' | translate }}
        </p>
        <p class="mb-4">
            {{ 'Data.Storage.p10' | translate }}
        </p>
        <p class="mb-4">
            {{ 'Data.Storage.p11' | translate }}
        </p>
        <p class="mb-4">
            {{ 'Data.Storage.p12' | translate }}
        </p>


    </div>
</div>